.app-icon {
	height: 75px;
	width: 75px;
	border-radius: 22.37%;
}
.home-app-icons {
	border-radius: 30%;
	width: 40px;
	height: 40px;


}
.icons {
	border-radius: 30%;
	width: 60px;
	height: 60px;


}